[build]
builder = "paketobuildpacks/builder:base"

[env]
JAVA_VERSION = "17"

[phases.build]
cmd = "cd BankingApplication/BankingApplication && mvn clean package -DskipTests"

[start]
cmd = "cd BankingApplication/BankingApplication && java -jar target/*.jar"
