[build]
builder = "paketobuildpacks/builder:base"

[env]
JAVA_VERSION = "17"

[phases.build]
cmd = "cd BankingApplication/BankingApplication && mvn clean package -DskipTests"

[start]
cmd = "cd BankingApplication/BankingApplication && java -jar target/*.jar"

[build]
builder = "RAILPACK"

[deploy]
runtime = "V2"
numReplicas = 1
sleepApplication = false
useLegacyStacker = false
multiRegionConfig = {"us-west2":{"numReplicas":1}}
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10